



.contact-container {
  color: white;
  background-image: url("./asset/contact_info_bg_image.png");
  background-size: cover;
  background-position: center;
  padding: 80px 100px 150px 100px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid wheat; */
}

.contact-info-title {
  fontfamily: "Roboto, sans-serif";
  font-weight: 700;
  font-size: 40px;
  line-height: 65px;
}

.contact-info-item {
  fontfamily: "Roboto, sans-serif";
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  color: #a8a8a8;
  display: flex;
}

.icon {
  margin-right: 30px;
}

.contact-image {
  display: flex;
  justify-content: flex-end;
}

.media-main-container{
  width: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid blanchedalmond; */
  transform: translateY(-75px);
}

.media-container{
  width: 80%;
  background-color: #DAA74E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.contact-info-item:hover .icon {
  animation: shake 0.5s ease-in-out infinite;
}

