.investment-opportunities {
  width: 100%;
  /* border: 2px solid white; */
  /* height: 400px; */
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.investment-content-opportunities {
  position: relative;
  width: 80%;
  height: inherit;
}

.investment-content-bg {
  position: absolute;
  /* border: 1px solid white;/ */
  top: 0;
  left: 10%;
  width: 80%;
  height: 110%;
  background-image: url("./asset/Linebackground.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  z-index: -99999;
}

.text-gradient {
  background-image: linear-gradient(180deg,
      rgba(255, 233, 152, 1) 63%,
      rgba(87, 55, 13, 0.938813025210084) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  line-height: 41px;
}

.title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* border: 1px solid white; */
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 3rem;
  color: #7d7d7d;
}

.benefits {
  display: flex;
   justify-content: space-around;
  margin-top: 20px;
}

.benefit {
  flex-basis: 30%;
  text-align: center;
  background-color: #1a1a1a;
  border-bottom: 3px solid #e9bd66;
  width: 360px;
  height: 310px;
  border-radius: 8px;
  box-sizing: content-box;
  padding: 40px 30px 20px 30px;
  margin-right: 30px;
  transition: all 0.3s ease;

}

.benefit-title {
  color: #edbf6f;
  font-family: 'Noto Serif', serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.3px;
  text-align: left;
}

.benefit-description {
  color: #7d7d7d;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  text-align: left;
}
.benefit:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}