.testimonial-container {
  padding: 50px 0;
  }

.testimonial-section {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.testimonial {
  display: flex;
  justify-content: space-between; /* Ensures equal spacing between testimonial items */
  max-width: 600px; /* Adjust as needed */
  margin-bottom: 20px; /* Add spacing between testimonials */
}

.testimonial-left,
.testimonial-right {
  flex: 1; /* Equal width for both sides */
  padding: 20px;  
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial-title {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  background: linear-gradient(180deg, #ffe998 -19.23%, #57370d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.testimonial-text {
  font-family: 'Nunito', sans-serif;
  font-weight:500;
  font-size: 20px;
  line-height: 41px;
  letter-spacing: -2%;
  margin-bottom: 0px;
  color: #C4C4C4;
}

.testimonial-texts{
font-family: 'Nunito', sans-serif;
  font-weight:500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -2%;
  color: #C4C4C4;
}

.testimonial-author {
  font-family: 'Nunito', sans-serif;
  font-weight:700;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -3%;
  color:#C4C4C4;
}

.testimonial img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.vertical-line {
    width: 2px; /* Width of the line */
    height: 100%; /* Height of the line */
    background-color: #E5B96F /* Color of the line */
  }